/tpFinal_c3/nbproject/private/
/tpFinal_c3/build/
/tpFinal_c3/dist/
/tpFinal_c5/nbproject/private/
/tpFinal_c5/build/
/tpFinal_c5/dist/
/tpFinal_c7/nbproject/private/
/tpFinal_c7/build/
/tpFinal_c7/dist/
/tpFinal_d1/nbproject/private/
/tpFinal_d1/dist/
/tpFinal_d1/build/
/tpFinal_d3/nbproject/private/
/tpFinal_d3/build/
/tpFinal_d3/dist/
/tpFinal_d5/nbproject/private/
/tpFinal_d7/nbproject/private/
/tpFinal_d5/dist/
/tpFinal_d5/build/
/tpFinal_d7/dist/
/tpFinal_d7/build/
/tp_a_4/nbproject/private/
/tp_a_4/build/
/tp_a_4/dist/
/tpFinal_c8/nbproject/private/
/tpFinal_c8/dist/
/tpFinal_c8/build/
/tpFinal_d4/nbproject/private/
/tpFinal_d4/dist/
/tpFinal_d4/build/